body {
    /*background-image: "static/images/HomeBGImage.png";
    background-size: cover; /* Ensures the background image covers the entire body *
    background-position: center; /* Centers the background image */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    font-family: 'Arial', sans-serif; /* Choose a suitable font */
    color: #333; /* Set default text color */
  }
  
 
 
  
  